.issueBill-main{

    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center top;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.search-btn{
    margin-top: 10px;
}

.bill-innerdiv{
    
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgba(128, 128, 128, 0.103);
    align-items: center;
    border-radius: 10px;

}

.print-bill{
    margin-top: 10px;
}