.c-popup{
    display: none;
    margin: auto;
    overflow: auto;
    height: 80%;
    position: absolute;
  }
  .closeButton{
    position: absolute;
    right: 20px;
   top: 20px;
    font-weight: 400;
  
  }